<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<table  style="margin:0 auto;border:1px solid #dfdfdf; width: 538px;border-collapse: collapse;">
    <thead>
    <tr style="height: 60px;background:#000000;line-height: 60px;">
        <td style=" text-align: left;">
            <img src="http://therainisme.com:1225/kexie/logo_black.png" style="height: 36px; width: 36px; margin-left: 10px;margin-bottom: 2px;vertical-align:middle;"/> <span style="font-size: 18px;color: white">GUET CS Technical Association</span>
        </td>
        <td style="text-align:right;font-size: 14px;color:#57697E;padding-right: 20px;font-family:Microsoft YaHei;font-weight:400; ">Notification</td>
    </tr>
    </thead>
    <tbody style="width: 548px;">
    <tr>
        <td style="font-family:Microsoft YaHei; font-weight:400; color:#1e1d1c " colspan="2 ">
            <p style="line-height: 0">
                &nbsp;
            </p>
            <span style="text-align: center; font-size:26px;display: block;">晚间签退通知</span>
            <span style="display: block;padding: 25px;">
                        <p style="font-size: 18px;text-align: start;line-height: 0;"><span th:text="${userName}"></span>同学：</p>
                        <p style="font-size: 18px;text-align: start;text-indent: 2em;">
                            非常遗憾地告诉您，现在已到规定自动签退时间，本次记录将作废。下次请记得签退哟^_^ ！
                        </p>
                        <time  style="font-size: 16px;text-align: end;text-indent: 2em;display: block;">
                            三院科协
                        </time>
                        <time  style="font-size: 16px;text-align: end;text-indent: 2em;display: block;" th:text="${nowDate}">
                            2020-12-17
                        </time>
                    </span>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr style=" height: 50px;background:#ffbe76 ;line-height: 50px; ">
        <td style="text-align: center; font-size:14px; font-family:Arial; font-weight:400; color:white;text-decoration: none;" colspan="2 "> 你知道吗，程序员的脱发仅有28.8%
        </td>
    </tr>
    </tfoot>
</table>

</body>

</html>