<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮件</title>
</head>
<body>
<header>
    亲爱的<span style="color: chocolate;font-family: bold" th:text="${userId}+${userName}"></span>同学:
</header>
<div style="color: red;text-align: center;font-family: bold;font-size: larger">
    <p>非常遗憾地告诉您</p>
    <p> 现在已到规定自动签退时间(23:30)，本次记录将作废。下次请记得签退哟^_^</p>
    <div>
        <img src="https://raw.githubusercontent.com/1291945816/Images/master/u%3D3607865926%2C1467441487%26fm%3D26%26gp%3D0.jpg">
    </div>

</div>
</body>
</html>